.content__wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.form--custom {
  width: auto;
}

.checked {
  color: #ccc;
  text-decoration: line-through;
  font-style: italic;
}

.fa {
  margin: 0 5px;
  color: #bbb;
}

li > label[for="todo"] {
  width: 210px;
  margin-bottom: 0.5rem;
}

li > label[for="done"] {
  width: 210px;
  margin-bottom: 0.5rem;
}
